<h1>Add new course</h1>

{{#if error}}
  <p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Enter name"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required value="{{data.price}}">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{data.img}}">
    <label for="img">Image URL</label>
    <span class="helper-text" data-error="Enter URL"></span>
  </div>

  <button class="btn btn-primary">Add course</button>
  <input type="hidden" name="_csrf" value="{{csrf}}">
</form>